<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
    <link rel="stylesheet" href="../../publick/css/login.css">
</head>
<body>
<form class="object" name="object" id="form" method="post">
<h2>Login</h2>
    <p> E-mail</p>    <input type="email" name="email" placeholder="example@gmail.ru" required>
    <p>Password</p>  <input type="password" name="password" placeholder="password" required>
    <button  class="button login-button">Login</button>
</form>
<% include blocks/footer.ejs %>
<script type="text/javascript" src="../../publick/js/login.js"></script>
</body>
</html>