<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
    <link rel="stylesheet" href="publick/css/login.css">
</head>
<body>
<form class="object" name="object" id="form" action="/register" method="post">
<h2>Вход</h2>
    <p> E-mail</p>    <input type="email" name="email" placeholder="example@gmail.ru" required>
    <p>Пароль</p>  <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="Отправить" class="button">
</form>
<script type="text/javascript" src="publick/js/login.js"></script>
</body>
</html>