<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% include blocks/header.ejs %> 
    <h1>Новостная Страница с ID - <%= newsId %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt labore dolorum iste nostrum similique qui ab repellat sapiente sed ut. Quam at nobis nostrum, porro incidunt beatae optio asperiores! Deserunt.</p>
    
</body>
</html>