<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="publick/css/onePage.css" rel="stylesheet"/>
</head>
<body>
    <div id="wrapper">
		<header>
        <a href="/"><img src="publick/img/favicon.ico" alt="es logo"></a>
        </header>
		 <nav>
         	<ul class="top-menu">
		        <li class="active">ABOUT US</li>
		        <li><a href="/api/auth/register">Registration</a></li>
		        <li><a href="/api/auth/login">Login</a></li>
	        </ul>
         </nav>
		<div id="heading">
            <h1> To-Do </h1>
        </div>
		<aside></aside>
		<section></section>
	</div>
	<footer>
		
	</footer>
    
</body>
</html>