<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма регистрации</title>
    <link rel="stylesheet" href="../../publick/css/register.css">
</head>
<body>
<form class="object1" name="object" id="form" method="post" action="" >
<h2>Registration</h2>
    <p> E-mail</p>    <input type="email" name="email" placeholder="example@gmail.ru" required>
    <p>Password<span>Any</span></p>  <input type="password" name="password" placeholder="password" required>
    <input type="password" name="anypassword" placeholder="password" required>
    <button  class="registration-button">Registration</button>
</div>
</form>
<% include blocks/footer.ejs %>
<script type="text/javascript" src="../../publick/js/register.js"></script>
</body>
</html>
