<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>to-do</title>    
<% include blocks/header.ejs %>   
<link rel="stylesheet"
     href="../../publick/css/to-do.css" /> 
</head>
<body>
<div id="wrapper">
<nav class="navbar-light bg-light">
  <a class="navbar-brand">To-do</a>
  <button class="exit btn btn-light" id="exit" >Exit</button>
</nav>  
  <ol></ol>
  <div class="toDo" name="object" id="form" method="post" action="" >   
    <input type="text" name="text" id="text"  placeholder="Add New Item" />
    <button class="change-color red" id="red"></button>
    <button class="change-color pinck" id="pinck"></button>
    <button class="change-color blue" id="blue"></button>
    <button class="change-color lightBlue" id="lightBlue"></button>
    <button class="change-color yellow" id="yellow"></button>
    <input type="button" value="Add" id="Add"  class="btn btn-success"/>   
  </div>
  <div class="del">
  <button class="dlt btn btn-outline-danger" id="">Delete All</button>
  </div>
  </div>   
    <% include blocks/footer.ejs %>
    <script src=../../publick/js/to-do.js></script>
</body>
</html>
