* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebf3f6;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px;
  padding: 0;
  position: relative;
}

.toDo {
  width: 600px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  margin: auto;
}

.change-color {
  margin-left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: none;
  vertical-align: middle;
}

.red {
  background-color: #ee6a68;

}

.pinck {
  background-color: #f279a2;

}

.blue {
  background-color: #5eb3f6;

}

.lightBlue {
  background-color: #67d7e5;

}

.yellow {
  background-color: #ffe083;

}

#Add {
  background-color: #26a59a;
  width: 66px;
  height: 33px;
  color: white;
  margin-left: 3px;
  border-radius: 3px;
  border: none;
  vertical-align: middle;

}

#text {
  width: 400px;
  height: 45px;
  text-decoration: none;
  outline: none;
  border: none;
  vertical-align: middle;
}

#text::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}

#text::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}

#text:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}

#text:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.5s ease;
}

#text:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}

#text:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}

#text:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}

#text:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.5s ease;
}

li {
  width: 600px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  margin: auto;
  list-style-type: none;
  font-size: 20px;
}

.checkbox {
  display: inline-flex;
  margin: 20px;
  border-right: 1px solid #ebf3f6;
}

.check {

  text-align: start;
  float: right;
  margin-top: 5px;
  border: 2px;
}

.edit {

  text-align: start;
  float: right;
  margin-top: 5px;
  border: 2px;
}

.dlt {
  margin-top: 5px;
  border: 2px;
  margin-left: auto;
  display: block;

}

.anyDlt {
  margin-top: 5px;
  border: 2px;
  

}

nav {
  border: 1px solid gray;
  border-radius: 3px;
  width: 100%;
  position: absolute;
  height: 70px;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  padding: .5rem 1rem;
  display: flex;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: static;
  padding-top: 85px;
}

.del {
  margin-left: auto;
}

#textNew {
  width: 300px;
  height: 45px;
  text-decoration: none;
  outline: none;
  border: none;
  vertical-align: middle;
}

.newToDo {
  width: 450px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  margin: auto;
}

#newAdd {
  background-color: #26a59a;
  width: 70px;
  height: 38px;
  color: white;
  margin-left: 3px;
  border-radius: 3px;
  border: none;
  vertical-align: middle;
}
